.progress {
    text-align:center;
    height: 34px;
}
.progress-value {
    display: inline;
    position:absolute;
    right:0;
    left:0;
    font-size: 26px;
}
.btn-altar.active {
    background-color: #fff;
    color: #337ab7;
}
.btn-altar.active:hover {
    background-color: #eee;
    color: #337ab7;
}
.autoadded label {
    margin-bottom:5px;
}