<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block title %}Панель управления{% endblock %}</title>

    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-toggle.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-slider.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="{{ url_for('static', filename='js/html5shiv.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/respond.min.js') }}"></script>
    <![endif]-->


</head>
<body>




<!--<nav class="navbar navbar-fixed-top">-->
  <!--<div class="container-fluid">-->

      <!--<div class="panel panel-primary">-->
        <!--<div class="panel-heading">Время и управление</div>-->

        <!---->
    <!--</div>-->

  <!--</div>-->
<!--</nav>-->

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">

        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-danger hidden" id="con-issues" role="alert">
                        Соединение с сервером потеряно!
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1 col-xs-2">
                    <button type="button" class="btn btn-default" id="btn-time-reduce">
                        <span class="glyphicon glyphicon-minus"></span>
                    </button>
                </div>
                <div class="col-md-10 col-xs-8">
                    <div class="progress">
                        <div class="progress-value">
                            <span id="time-progress">{{ timer }}</span> / <span
                                id="ftime-progress">{{ ftime }}</span>
                        </div>
                        <div class="progress-bar progress-bar-info" id="pb-time-progress" style="width:0"
                             role="progressbar" aria-valuemin="0" aria-valuemax="90" aria-valuenow="0"></div>
                    </div>
                </div>
                <div class="col-md-1 col-xs-2">
                    <button type="button" class="btn btn-default pull-right" id="btn-time-add">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1 col-xs-2">
                    <button type="button" class="btn btn-default" id="btn-aro-reduce">
                        <span class="glyphicon glyphicon-minus"></span>
                    </button>
                </div>
                <div class="col-md-10 col-xs-8">
                    <div class="progress">
                        <div class="progress-value">
                            <span id="arotext">{{ aro }}</span>
                        </div>
                        <div class="progress-bar progress-bar-info" id="aroprogress" style="width:0"
                             role="progressbar"></div>
                    </div>
                </div>
                <div class="col-md-1 col-xs-2">
                    <button type="button" class="btn btn-default pull-right" id="btn-aro-add">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>

            </div>
            <div class="row">
                <div class="col-md-3 col-xm-12">Громкость:</div>
                <div class="col-md-6 col-xm-9">
                    <input style="width:100%" id="volume-slider" data-slider-id='volSlider' type="text"
                           data-slider-min="0" data-slider-max="100" data-slider-step="1"
                           data-slider-value="{{ volume }}"/>
                </div>
                <div class="col-md-3 col-xm-3">
                    <input id="soundstoggle" type="checkbox" data-size="mini" data-toggle="toggle" data-on="Звук вкл."
                           data-off="Без звука" {% if volume !=0 %} checked{% endif %}>
                </div>
            </div>
            <div class="row"><br/></div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="btn-group btn-group-justified controlbutons" role="group" aria-label="Control">
                        <div class="btn-group" role="group">
                            <button type="button" id="btn-reload" class="btn btn-default{% if quest.reloaded %} active{% endif %}" onclick="blur();"><span
                                    class="glyphicon glyphicon-repeat"></span>Reload
                            </button>
                        </div>
                        <div class="btn-group" role="group">
                            <button type="button" id="btn-start"
                                    class="btn btn-default{% if quest.in_process %} active{% endif %}" onclick="blur();"><span
                                    class="glyphicon glyphicon-play"></span>Start
                            </button>
                        </div>
                        <div class="btn-group" role="group">
                            <button type="button" id="btn-stop" class="btn btn-default" onclick="blur();"><span
                                    class="glyphicon glyphicon-stop"></span>Stop
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
  </div>
</nav>


<div class="container" id="maincont">



    <div class="panel panel-default">
        <div class="panel-heading">Алтари</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12 text-center">
                    {% for n in range(1,6) %}
                    <label type="button"
                           class="btn btn-primary btn-altar{% if devices.altars.actived == n %} active{% endif %}"
                           autocomplete="off">
                        Алтарь {{n}}
                    </label>
                    {% endfor %}
                </div>
            </div>
            <br/>

        </div>
    </div>

    <hr/>
    {% block content %}{% endblock %}
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-toggle.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-slider.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% block scripts %}{% endblock %}

</body>
</html>