{% extends "base.html" %}

{% block content %}
<div class="panel panel-primary">
    <div class="panel-heading">Плеер</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3 col-xm-12">Громкость: </div>
            <div class="col-md-6 col-xm-9">
                <input style="width:100%" id="volume-slider" data-slider-id='volSlider' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="{{ volume }}"/>
            </div>
            <div class="col-md-3 col-xm-3">
                <input id="soundstoggle" type="checkbox" data-toggle="toggle" data-on="Звук вкл." data-off="Без звука"{% if volume != 0 %} checked{% endif %}>
            </div>
            <div class="col-md-12">
                <h3>Сейчас игр.: <span id="now_playing">{{ now_playing }}</span></h3>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Алтари и доска с аро</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12 text-center">
            {% for n in range(1,6) %}
                <label type="button" class="btn btn-primary btn-altar{% if devices.altars.actived == n %} active{% endif %}" autocomplete="off">
                    Алтарь {{n}}
                </label>
            {% endfor %}
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-1 col-xs-2">
                <button type="button" class="btn btn-default" id="btn-aro-reduce">
                    <span class="glyphicon glyphicon-minus"></span>
                </button>
            </div>
            <div class="col-md-10 col-xs-8">
                <div class="progress">
                    <div class="progress-value">
                    <span id="arotext">{{ aro }}</span>
                    </div>
                    <div class="progress-bar progress-bar-info" id="aroprogress" style="width:0" role="progressbar"></div>
                </div>
            </div>
            <div class="col-md-1 col-xs-2">
                <button type="button" class="btn btn-default pull-right" id="btn-aro-add">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </div>
        </div>
    </div>
</div>

{% for room in layout %}
<div class="panel panel-default autoadded">
    <div class="panel-heading">{{ room.name }}</div>
    <div class="panel-body">
        <div class="row">
            {% for door in room.buttons %}
            <div class="col-sm-6">
                <label type="button" class="btn btn-block btn-warning door" id="{{ door.btn_id }}-open">{{ door.name }} открыть</label>
                <label type="button" class="btn btn-block btn-warning door" id="{{ door.btn_id }}-close">{{ door.name }} закрыть</label>
                {% if door.can_activate %}
                <label type="button" class="btn btn-block btn-warning door" id="{{ door.btn_id }}-act">{{ door.name }} активировать</label>
                {% endif %}
                {% if door.can_deactivate %}
                <label type="button" class="btn btn-block btn-warning door" id="{{ door.btn_id }}-deact">{{ door.name }} деактивировать</label>
                {% endif %}
            </div>
            {% endfor %}
            {% if actlinks in room %}
            {% for actlink in room.actlinks %}
                <label type="button" class="btn btn-block btn-success actlink" id="{{ actlink.id }}">{{ actlink.name }}</label>
            {% endfor %}
            {% endif %}
            {% for hint in room.hints %}

            <div class="col-sm-6">
                <label type="button" class="btn btn-block btn-info hint" id="hint-{{ hint.id }}">{{ hint.desc }}</label>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endfor %}

{% endblock content %}