{% extends "base.html" %}
{% block styles %}
<link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}
{% include 'navbar.html' %}
<div class="container" id="maincont">


    <div class="panel panel-default">
        <div class="panel-heading">Алтари</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12 text-center">
                    {% for n in range(1,6) %}
                    <label type="button"
                           class="btn btn-primary btn-altar{% if devices.altars.actived == n %} active{% endif %}"
                           autocomplete="off">
                        Алтарь {{n}}
                    </label>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>

    <hr/>

{% for room in layout %}
<div class="panel panel-default autoadded">
    <div class="panel-heading">{{ room.name }}</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
            {% for door in room.buttons %}

                <label type="button" class="btn btn-block btn-warning door" id="{{ door.btn_id }}-open">{{ door.name }} открыть</label>
                <label type="button" class="btn btn-block btn-danger door" id="{{ door.btn_id }}-close">{{ door.name }} закрыть</label>
                {% if door.can_activate %}
                <label type="button" class="btn btn-block btn-default door" id="{{ door.btn_id }}-act">{{ door.name }} активировать</label>
                {% endif %}
                {% if door.can_deactivate %}
                <label type="button" class="btn btn-block btn-default door" id="{{ door.btn_id }}-deact">{{ door.name }} деактивировать</label>
                {% endif %}

            {% endfor %}
            </div>
            <div class="col-md-6 col-xm-12 col-sm-12">
            {% if 'actlinks' in room %}
                {% for actlink in room.actlinks %}
                <label type="button" class="btn btn-block btn-success actlink" id="{{ actlink.id }}">{{ actlink.name }}</label>
                {% endfor %}
            {% endif %}
            </div>

            {% for hint in room.hints %}
            <div class="col-md-6 col-xm-12 col-sm-12">
                <label type="button" class="btn btn-block btn-info hint" id="hint-{{ hint.id }}">{{ hint.desc }}</label>
            </div>
            {% endfor %}

        </div>
    </div>
</div>
{% endfor %}
</div>
{% endblock content %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}