{% extends "base.html" %}
{% block title %}Настройка{% endblock %}
{% block hname %}Настройка интерфейса{% endblock %}
{% block content %}
{% for device in devices %}
<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{ device.name }}
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a href="#">HTML</a></li>
    <li><a href="#">CSS</a></li>
    <li><a href="#">JavaScript</a></li>
  </ul>
</div>
{% endfor %}
{% endblock content %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/setup.js') }}"></script>
{% endblock %}